body {
    background: black;
}

.heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-size: 25px;
    border: 10px;
    border-style: double;
    background: green;
}

.medzera {
    margin: 40px;
}

.UI {
    height: 500px;
    padding: 5px;
    
    border-radius: 15px 15px 100px 100px;
    border-style: solid;
    background: rgb(75, 60, 42);
}

.table {
    border-radius: 15px 15px 90px 90px;
    border-style: solid;
    background: green;
    height: 450px;
    margin: 10px;
    padding: 8px;
}

.rozdani_karet {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.karta {
    padding: 5.8%;
    margin: 1px;
    border: 1.2px;;
    border-style: solid;
    border-radius: 15px;
    height: 70px;
   
}

.icon {
    height: 30px;
    width: 30px;
}

.nadpis {
    font-size: 28px;
}

.package {
    display: flex;
    height: 140px;
    width: 80px;
    transform: rotate(168deg);
    
}